<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.livros">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="com.example.android.livros.activity.CadastroActivity" />
        <activity android:name="com.example.android.livros.activity.CadastroLivroActivity" />
        <activity android:name="com.example.android.livros.activity.ListarLivrosActivity" />
        <activity android:name="com.example.android.livros.activity.ListarEmprestimosActivity" />
        <activity android:name="com.example.android.livros.activity.BuscaActivity" />
        <activity android:name="com.example.android.livros.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>